*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Montserrat';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(images/hero-cover3.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: skyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li :hover::after{
    width: 100%;
}
.member{
    background-color: #23A6F0;
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 30px;
    cursor: pointer;
    float: right;                                                     ;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 25px;
}
.quote{
    background-color: #23A6F0;
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 30px;
    cursor: pointer;
    display: inline-block;
    border-radius: 16px;
}
.learn{
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 30px;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border-radius: 16px;
    border: 1px solid white;
}
.input{
    display:flex;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    justify-content: space-evenly;
    text-align: center;
    
}
  
#bottom {
    display: flex;
    position: absolute;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    bottom:0;                         
    width: 300px;
    height: 100px;
   align-items: center;
  } 
#bottom1 {
    display: flex;
    position: absolute;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    bottom:0;                         
    right: 50px;
    width: 300px;
    height: 100px;
    background-color: #23A6F0;
  }
  #bottom3 {
    display: flex;
    position: absolute;
    background-color: white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    bottom:0; 
    left: 50px;                        
    width: 300px;
    height: 100px;
    
  }
  @media screen and (max-width:960px) {
    .input{
      flex: 100%;
      max-width: 80%;
    }
    }
    
    @media screen and (max-width:600px) {
    .input{
      flex: 100%;
      max-width: 100%;
    }
    }

/*section for life section*/
.idea{
    display:flex;
    flex-direction: row;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    justify-content: space-evenly;
    text-align: center;
    margin: 40px 0 40px;
}
@media screen and (max-width:960px) {
    .idea{
      flex: 100%;
      max-width: 80%;
    }
    }
    
    @media screen and (max-width:600px) {
    .idea{
      flex: 100%;
      max-width: 100%;
    }
    }

    /*testimonial page*/
.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
  }
  .inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
  }
  
  .border{
    width: 160px;
    height: 5px;
    margin: 26px auto;
    /*background: #6ab04c;
    margin: 26px auto;*/
  }
  
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
  }
  .testimonial{
    background: #fff;
    padding: 30px;
  }
  .testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
  }
  .stars{
    color: orange;
    margin-bottom: 20px;
  }
  
  
  @media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
  }
  
  @media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
  }
  /*social media icons*/
.vector{
    float: left;
    display: table;
    padding: 20px;
    padding-left: 20px;
    flex-wrap: wrap;

}
#below{
    height: 50%;
    width:50%;

}
.secondcontainer{
    margin: 30px;
}

/*subscribe section*/
.subscribe{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: none;
  width: 1200px;
  background: linear-gradient(to right,rgb(16, 1, 27), rgb(245, 13, 245));
  border-color: none;
  margin-left: 55px;
}
.subscribe h3{
  margin-right: 80px;
  margin-top: 5px;
  font-size: large;
}

.field {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.btn-2 {
  background-color: #23A6F0;
  color: white;
  margin: 0px;
  margin-left: -5px;
  height: 35px;
  border: 0px;
  border: none;
}

/*This is the pricing section*/  
.heading-primary{
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
}
  
  .plan-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  }.plan-section .plan{
    width: 300px;
    height: 370px;
    text-align: center;
    padding: 30px 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0.6rem 1.6rem #b3b5c6;
  
  }
  
  .plan-section .plan .plan-price{
    font-size: 4rem;
  }.plan-section .plan .dollar{
    font-size: 2rem;
    font-weight: 400;
    vertical-align: middle;
  
  }
  
  .plan-section .plan .plan-features .plan-item{
    padding: 15px 0;
    border-bottom: 1px solid  #b3b5c6;
  }
  
  .plan-section .plan .btn{
    display: block;
    background-color: #23A6F0;
    padding: 10px;
    margin-top: 20px;
    color: #f6f6fe;
    border-radius: 5px;
  }
  
  .plan-section .plan .btn:hover{
  background-color: #f6f6fe;
  color: #252B42;
  border: 1px solid #23A6F0;
  font-weight: 900;
  }
  
  .plan-section .plan .btn-blue{
    background-color: #f6f6fe;
    color: #23A6F0;
  }
  
  .plan-section .plan .btn-blue:hover{
    background-color: #23A6F0;
    color: #f6f6fe;
    border: 1px solid #f6f6fe;
  }
  
  
  
  
  .plan-section .basic{
    background-color: #f6f6f6;
  }
  
  .plan-section .pro{
    background-color: #252B42;
    color: #f6f6fe;
    height: 400px;
  }
  
  .plan-section .master{
    background-color: #f6f6f6;
  }
/*Branches all over the world*/
.div-1{
  margin: 20px;
  background-color: #252B42 ;
  height: 500px;
 margin-top: 200px;
 background-image: 
 url("image/pngwing 1.png");
background-repeat: no-repeat, no-repeat;
background-position:  right 120px,  bottom center;
margin-bottom: 0%,-50%;
background-size: 40%,20%;
text-align: center;
opacity: 0.9;
position: relative;
overflow: hidden,visible;
}
/*.div-1{
  margin: 20px;
  background-color: #252B42 ;
  height: 500px;
 margin-top: 200px;
 background-image: 
 url("image/pngwing 1.png");
background-repeat: no-repeat, no-repeat;
background-position:  right 120px;
background-size: 40%;
text-align: center;
opacity: 0.9;
position: relative;
}*/

/*--------footer section------*/


/*.agency{
  display:flex;
justify-content: space-between;
margin-top: 150px;
text-align: left;
color: black;
font-weight: 500;
margin-left: 50px;
margin-right: 50px;*/
.agency{ padding: 60px 0;
  background: #f1f1f1;
  color: #434343;
  text-align: left;
}
.business{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}
.contact{
  background-color: #23A6F0;
  color: white;
  padding: 5px 10px;
  text-align: center;
  margin: 10px 30px;
  cursor: pointer;
  float: right;                                                     ;
}
  footer1{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-top: 100px;
  }
  .column{
    padding: 20px;
    margin:10px 10px 10px 0;
      flex:20%;
      max-width: 20%;
      box-sizing: border-box;
      padding: 15px;
      margin-left: 50px;
    }
  .column a{
    text-decoration: none;
    color: black;
    font-size: 1em;
  } 
  .column a:hover{
    color: #23A6F0;
  } 
  #content-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;

  }
  #content-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
  }
  #content-3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
  }
  #content-4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
  }

  /*second footer*/
  footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color:lightgray;
    padding: 40px;
  }
  footer ul{
display: flex;
font-size: 1.5em;
list-style: none;
padding: 0;
margin: 0;
  }

  footer ul>li{
    display: block;
    justify-content: space-around;
  }





















